
.slide {
  height: 384px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.slide-1 {
  background: linear-gradient(to bottom right, #a855f7, #ec4899);
}

.slide-2 {
  background: linear-gradient(to bottom right, #3b82f6, #06b6d4);
}

.slide-3 {
  background: linear-gradient(to bottom right, #10b981, #059669);
}

.slide-4 {
  background: linear-gradient(to bottom right, #f97316, #ef4444);
}

.slide-5 {
  background: linear-gradient(to bottom right, #6366f1, #a855f7);
}

.slide-content {
  text-align: center;
  color: white;
}

.control-panel {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 32px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.control-btn {
  width: 150px;
  height: 50px;
  border-radius: 3px;
  border: none
}

.control-btn:hover {
  background-color: #9e9e9e7a;
}

.control-btn.active {
  background-color: #06b6d4;
}