.toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.toast {
  /* background: #fff; */
  background: grey;
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  padding: 4px 6px;
  border-radius: 4px;
  font-size: 15px;
  align-items: center;
  font-weight: 500;
  animation: slideIn 0.3s ease-out forwards;
}

.toast-success {
  background: lightgreen;
}
.toast-error {
  background: lightcoral;
}

@keyframes slideIn {
  from { trnasform: translateX(100%); opacity: 0; } 
  to { trnasform: translateX(0%); opacity: 1; } 
}

.toast-exit {
  animation: slideOut 0.3 ease-in forwards;
}

@keyframes slideOut {
  to { transform: translateX(100%); opacity: 0;}
}

.toast-close {
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

