.toast-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.toast {
  background-color: #ccc;
  border: 1px solid #ccc;
  padding: 5px 8px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 150px;
  animation: slideIn 0.3s ease-out;
  color: white;
}

@keyframes slideIn {
  from {transform: translateX(100%); opacity: 0;}
  to {transform: translateX(0); opacity: 1}
}

.toast > button {
  background: none;
  border: none;
  padding: 0;
  color: #ccc;
}

.toast-success { background-color: #2e7d32; }
.toast-error { background-color: #d32f2f; }
.toast-info { background-color: #0288d1; }