.container{
  margin: 0 auto;
}

.scroll-container {
  position: relative;
  overflow-y: auto;
  border: 1px solid #ccc;
}

.item {
  position: absolute;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
  padding: 0px 12px;
  display: flex;
  align-items: center;
  width: 100%;
}